<a href="https://colab.research.google.com/github/Ankur099IIT/Python/blob/main/Python_ZTM_by_Andrei_Udemy_notes_by_me.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Numbers**

In [ ]:
type(1)

int

In [ ]:
type(1,2,3) ## we can't check multiple at a time. It will give an error

TypeError: ignored

In [ ]:
type(2.2), type(True)

(float, bool)

**Arithmatic**

In [ ]:
10/3, 10%3, 10//3 ## actual value, remainder, quotient but only integer respectively

(3.3333333333333335, 1, 3)

In [ ]:
10**2 ## power

100

**Basic Functions**

In [ ]:
pow(5,2), abs(-10), round(5.478678755, 3) # round to the nth digit

(25, 10, 5.479)

**Converting strings to numbers**

In [ ]:
age = input('what is your age? ') # input function create string data type

what is your age? 30

In [ ]:
type(age)

str

In [ ]:
age = int(age) # string converted into integer
type(age)

int

In [ ]:
age = float(age) # now interger converted into float
type(age)

float

**Strings**

In [ ]:
type('Ankur Tiwari')

str

In [ ]:
'I\'m hungry' ## \ after backslash everything is considered as string

"I'm hungry"

In [ ]:
rand_str = "I am working in bla bla company.\nI work as an \n\tAssistant Manager" ## \n for the new line 
                                                                                  ## and \t for the tab
print(rand_str)

I am working in bla bla company.
I work as an
	Assistant Manager

In [ ]:
intro = 'hello, I\'m an Engineer.\nAlso I\'ve done my masters' ## new line will reflect in print command.
print(intro)

hello, I'm an Engineer.
Also I've done my masters

In [ ]:
name = 'Ankur Tiwari'
name[:], name[0:5], name[6:12], name[0::2], name[::-1], name[::-2], name[-8:-13:-1], name[-1:-7:-1] 
## slicing has the format [start index, end index, step(positive or negative give the direction to move for ex: -1 for the reverse)] 
## where default step = 1 and step=2 for alternate letter

('Ankur Tiwari',
 'Ankur',
 'Tiwari',
 'AkrTwr',
 'irawiT ruknA',
 'iai un',
 'ruknA',
 'irawiT')

In [ ]:
str_concatenation = 'Hi Ankur, ' + 'you have two laptops. ' + '\nOne macbook and other one is hp pavilion.'
print(str_concatenation)

Hi Ankur, you have two laptops.
One macbook and other one is hp pavilion.

Basic **Functions**

In [ ]:
name = '      I am Ankur Tiwari '
print(name), len(name) ## len() also counts the spaces between the inverted colon also

      I am Ankur Tiwari

(None, 24)

In [ ]:
'i' in name

True

In [ ]:
name, name[0] = 'U' ## Error because Strings are immutable

ValueError: ignored

In [ ]:
name  = name.strip() ## strips all the whitespaces from both end
print(name)

I am Ankur Tiwari

In [ ]:
name.strip("ir") # strips all the passed characters from both end

'I am Ankur Tiwa'

In [ ]:
name

'I am Ankur Tiwari'

In [ ]:
name.split(), name # method in strings does not change the original string

(['I', 'am', 'Ankur', 'Tiwari'], 'I am Ankur Tiwari')

In [ ]:
name, name.replace('Tiwari', 'Dubey') # replaces first with second param

('I am Ankur Tiwari', 'I am Ankur Dubey')

In [ ]:
name, name.index('r') # gives the index of r

('I am Ankur Tiwari', 9)

In [ ]:
name, name.upper(), name.lower(), name.capitalize()

('I am Ankur Tiwari',
 'I AM ANKUR TIWARI',
 'i am ankur tiwari',
 'I am ankur tiwari')

In [ ]:
name, name.count('i') #count the number of 'i'

('I am Ankur Tiwari', 2)

String Formatting

In [ ]:
first_name = 'Ankur'
surname = 'Tiwari'

print(f'Hello, I am {first_name} {surname}. I just logged in.') ## String formatting is used for 
                                                                ## creating multiple strings with variable strings

Hello, I am Ankur Tiwari. I just logged in.

âš“ ***Exercise 1: Palindrome Check***

In [ ]:
word = 'reviver'
word_rev = word[::-1]
print(word==word_rev)

True

Boolean

True or False. Used in a lot of comparison and logical operations

In [ ]:
bool(True), bool(False), bool(''), bool([]), bool({}), bool(()), bool(set()), bool(range(0)), bool(0), bool(0.0), bool(None)
## that means 0, 0.0, empty string, list, dict, tuble, set, range when pass through bool() result in False

(True, False, False, False, False, False, False, False, False, False, False)

**Lists**

Lists are mutable sequences unlike strings

In [ ]:
my_list = [1, 2 , 3, 'Ankur', True, 3, 5, 5]
len(my_list), my_list.index('Ankur'), my_list.count(5), my_list[5], my_list[0:6:2], my_list[-1:-8:-1] 

## list slicing similar to string slicing

(8, 3, 2, 3, [1, 3, True], [5, 5, 3, True, 'Ankur', 3, 2])

**Add to List**

In [ ]:
my_list * 2 ## multiply is possible with integer only

[1, 2, 3, 'Ankur', True, 3, 5, 5, 1, 2, 3, 'Ankur', True, 3, 5, 5]

In [ ]:
my_list + [2000], my_list ## addition is possible with list only. subtraction and division doesnot work with lists.

([1, 2, 3, 'Ankur', True, 3, 5, 5, 2000], [1, 2, 3, 'Ankur', True, 3, 5, 5])

In [ ]:
 my_list

[1, 2, 3, 'Ankur', True, 3, 5, 5]

In [ ]:
my_list

[1, 2, 3, 'Ankur', True, 3, 5, 5]

In [ ]:
my_list.append(500) ## mutates the actual list

In [ ]:
print(my_list)

[1, 2, 3, 'Ankur', True, 3, 5, 5, 500]

In [ ]:
my_list.extend(['Anmol', False, [8,9]]) ## Mutates the list

In [ ]:
print(my_list)

[1, 2, 3, 'Ankur', True, 3, 5, 5, 500, 'Anmol', False, [8, 9]]

In [ ]:
my_list.insert(4, 'Tiwari') ## Mutates the list . takes two param (index at which the item to be place, item itself)

In [ ]:
print(my_list)

[1, 2, 3, 'Ankur', 'Tiwari', True, 3, 5, 5, 500, 'Anmol', False, [8, 9]]

*Important Concept- Copy a List*

In [ ]:
basket = ['Apple', 'Orange', 'Banana']
new_basket = basket.copy()
new_basket2 = basket[:]
print(new_basket)
print(new_basket2)

['Apple', 'Orange', 'Banana']
['Apple', 'Orange', 'Banana']

In [ ]:
List = [1, 2, 3, 4, 5]
List.pop() # mutates original list

5

In [ ]:
List.pop()

4

In [ ]:
List.pop(), print(List)

[1, 2]

(3, None)

In [ ]:
List

[1, 2]

In [ ]:
List.extend([2,3,4,5])

In [ ]:
List

[1, 2, 2, 3, 4, 5]

In [ ]:
List.clear()

In [ ]:
List

[]

Ordering

In [ ]:
List.extend([1,2,3,4,5,6,7,8])
List

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(List.sort(reverse=True))

None

In [ ]:
List

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
max(List), min(List), sum(List)

(8, 1, 36)

**Matrix**

In [ ]:
mx = [
      [1,2,3],
      [4,5,6], [7,8,9]
]
print(mx)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(len(mx))

3

In [ ]:
mx[0], mx[1], mx[2]

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [ ]:
name = 'Ankur'
name_li = list(name) ## string to list
print(name_li)

['A', 'n', 'k', 'u', 'r']

In [ ]:
num = (list(range(1,50,3)))
print(num)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [ ]:
sum(num) ## sum of the numbers in the list

425

In [ ]:
num1 = num.sort()
print(num1)
print(num.reverse())
num

None
None

[49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

**Dictionaries**

In [ ]:
my_dict = {'name': 'Ankur', 'ages': 30, 'college': 'IIT', 'laptop':['mac', 'hp'], 'relationship':True}

In [ ]:
len(my_dict), my_dict['relationship'], list(my_dict.keys()), list(my_dict.values()), bool(my_dict['relationship'])

(5,
 True,
 ['name', 'ages', 'college', 'laptop', 'relationship'],
 ['Ankur', 30, 'IIT', ['mac', 'hp'], True],
 True)

In [ ]:
my_dict.get('age', 'no age key but its ages') ## return none (if second param given it will return that) if age key doesnot exist. in this way we can avoid error in the code

'no age key but its ages'

In [ ]:
my_dict.pop('name', None)
my_dict

{'ages': 30, 'college': 'IIT', 'laptop': ['mac', 'hp'], 'relationship': True}

In [ ]:
my_dict.update({'names':['Ankur', 'Anmol']})
my_dict

{'ages': 30,
 'college': 'IIT',
 'laptop': ['mac', 'hp'],
 'names': ['Ankur', 'Anmol'],
 'relationship': True}

In [ ]:
list1 = ['Ankur', 'Anmol', 'Amar', 'Eshu']
list2 = [30, 28, 25, 18]
print(zip(list1, list2))

<zip object at 0x7fc8c59a0690>

In [ ]:
new_dict = dict(zip(list1, list2)) ## Creates a dictionary from two collections
print(new_dict)

{'Ankur': 30, 'Anmol': 28, 'Amar': 25, 'Eshu': 18}

**Logical Operators**

In [ ]:
1 not in [2,3,4], not True, 1 is not 4, 4>1 and 5<10, 6<1 or 10>5

(True, False, True, True, True)

In [ ]:
# if <condition that evaluates to boolean (means if statement only need True or False)>:
    # perform action 1
# elif <condition that evaluates to boolean (means if statement only need True or False)>:
    # perform action 2
# else:
    # perform action 3


# Truthy and Falsy (empty string, 0, 0.0, empty list, tuple, dictionary, set etc.)

*Coding Exercise*

In [ ]:
is_mag = False
is_ex = True

if is_mag and is_ex:
  print('you are a master magician')
elif is_mag and not is_ex:
  print('atleast you\'re getting there')
elif not is_mag:
  print('you need magic power')
else:
  print('we don\'t know')

you need magic power

In [ ]:
## is vs == , 'is' is used to compare the exact memory location  of two things 
# while == is used to compare the values of two things

**Loops**

In [ ]:
for items in 'Ankur Tiwari':  ## for works on iterables or collection of items(strings, set, lists, range, dictionary, tuples) not on one integer
  print(items)

A
n
k
u
r

T
i
w
a
r
i

In [ ]:
for items in 'Ankur Tiwari':
  
  if items in 'Anmol':
    print(items)
  else:
    print('mol')

A
n
mol
mol
mol
mol
mol
mol
mol
mol
mol
mol

In [ ]:
## using for loops we can do two things-
## a) we can perform some action (number of items in the iterable = number of time the action will be performed)
## b) we can extract the items itself from the iterables (strings, tuples, list, dictionaries, sets).

In [ ]:
my_dict

{'ages': 30,
 'college': 'IIT',
 'laptop': ['mac', 'hp'],
 'names': ['Ankur', 'Anmol'],
 'relationship': True}

In [ ]:
for items in my_dict.values(): ## this gives us the values of dictionaries
  print(items)

30
IIT
['mac', 'hp']
True
['Ankur', 'Anmol']

In [ ]:
for items in my_dict: ## this gives us the keys of dictionaries or we can also write my_dict.keys()
  print(items)

ages
college
laptop
relationship
names

In [ ]:
for items in my_dict.items(): ## this gives us the values of key, value pair in tuples
  print(items)

('ages', 30)
('college', 'IIT')
('laptop', ['mac', 'hp'])
('relationship', True)
('names', ['Ankur', 'Anmol'])

In [ ]:
for keys, values in my_dict.items(): ## this gives us the keys and values 
  print(keys, values)

ages 30
college IIT
laptop ['mac', 'hp']
relationship True
names ['Ankur', 'Anmol']

*Coding Exercise*

In [ ]:
## Code gives sum and count of items in the list
my_list = [1,2,3,4,5,6,7,8,9,10] 
sum = 0
count = 0
for items in my_list:
  count = count+1
  sum = sum+items
print(sum) ## this print is outside the loop because we dont want it to loop over rather we only want to print result just once
print(count)

55
10

In [ ]:
for i, items in enumerate('Ankur Tiwari'): ## both index and items can be extracted using enumerate
  print(i, items)

0 A
1 n
2 k
3 u
4 r
5
6 T
7 i
8 w
9 a
10 r
11 i

*Coding Exercise*

In [ ]:
## find the index of 50
numbs = range(100)
num_list = list(numbs)
for i, items in enumerate(num_list):
  if items == 50:
    print(i, items)

50 50

**While loop**

In [ ]:
i = 0
while i < 10: # condition
  print(i)
  i = i+1
else:
  print('Done with the work')

## to come out of the while loop we can either make the condition false or we can use break.

0
1
2
3
4
5
6
7
8
9
Done with the work

In [ ]:
while True:
  response = input('say something: ')
  if response == 'bye':
    break

say something: hi
say something: bye

*Coding Exercise*

In [ ]:
## Looping through the image and a concept of printing in the same line using end param in print. we want to create 3tress so we used while loop 
trees = 1
picture = [
           [0,0,0,1,0,0,0],
           [0,0,1,1,1,0,0],
           [0,1,1,1,1,1,0],
           [1,1,1,1,1,1,1],
           [0,0,0,1,0,0,0],
           [0,0,0,1,0,0,0]
          ] 
while trees<=3:
  for items in picture:
    for ele in items:
      if ele ==0:
        print(' ', end = '') # for printing in the same line
      elif ele==1:
        print('*', end = '')
    print('') # need a new line after every row because by default in print the end = '\n'
  trees = trees+1

   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *

*Coding Exercise*

In [ ]:
## to find the duplicates

dupl = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']
new_list = []
for items in dupl:
  if dupl.count(items) > 1:
    new_list.append(items)
print(new_list)

['b', 'b', 'n', 'n']

**Functions**

It is used where we don't want to repeat the code. It either returns something or modifies something in our program.

In [ ]:
def sum(a,b):
  c = a+b
  print(c)

In [ ]:
sum(4,5)

9

In [ ]:
## Use of docstring is write comment in the function or tell others/co-workers/team what this function does.

def Ankur():
  '''
  This function tells us how one should be persistent.
  '''
  print('Never stop learning in your life')

In [ ]:
Ankur()

Never stop learning in your life

In [ ]:
help(print) ## help is use to find out what a function does

In [ ]:
## to find even or od

def isodd_or_iseven(num):
  if num%2==0 or num==0:
    print(f'{num} is even.')
  else:
    print(f'{num} is odd.')

In [ ]:
isodd_or_iseven(1893537)

1893537 is odd.

In [ ]:
## *args and **kwargs

def super_fuct(*args): ## if we add *in from argument then the fuction may take as many number of argument we want.
  print(args)
  return max(args)

In [ ]:
super_fuct(1,2,3,4,5)

(1, 2, 3, 4, 5)

5

*Coding Exercise*

In [ ]:
## find the highest even in the list

def highest_even(li):
  even = []
  for items in li:
    if items%2==0:
      even.append(items)
  return max(even)

In [ ]:
li = [1,2,4,5,6,8,10,11,13,100]
highest_even(li)

100

In [ ]:
## map function ## map(function, iterable on which that fuction will be applied)

def mult_by2(li):
  return li*2

li = [1,2,3]
print(list(map(mult_by2, li )))
print(li)

[2, 4, 6]
[1, 2, 3]

In [ ]:
## filter function

def only_odd(li):
  if li%2 != 0:
    return li

print(list(filter(only_odd, li)))

[1, 3]

In [ ]:
## zip function takes to any iteratble as param and zip them

list1 = [1,2,3]
list2 = [5,6,7]

print(dict(zip(list1, list2)))

{1: 5, 2: 6, 3: 7}

In [ ]:
## just a for loop applied on dictionary

for item in dict(zip(list1, list2)).values():
  print(item)

5
6
7

In [ ]:
## List, set, sictionary comrehension

list = []
for item in 'Ankur':
  list.append(item)
print(list)

['A', 'n', 'k', 'u', 'r']

In [ ]:
# so instead of doing this long process we can use list comprehension

## list = [expression for loop condition]
## list4 = [num**2 for num in range(0,100) if num % 2 ==0]

list1 = [list for list in 'Ankur']  ## [param for param in iterable]
list2 = [li for li in range(0,10)]
list1, list2

(['A', 'n', 'k', 'u', 'r'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
list2 = [li for li in (map(mult_by2,range(0,10)))]  ## list multiplied by 2
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]